.build*
sdklog
.idea*
*.zip
logs/
target/
.classpath
.project
.scala_dependencies
.settings
.sessions
.DS_Store
_mb
lib/*.*
dist/
distrib/
.idea
*.iml
build
.gradle
bin/
build.gradle
target
**/target/*
**/.classpath_nb
**/.ensime*
**/project
*.ipr
*.iws
logs
log.*
sonar*
.sonar
local/
